/*
Dezembro 30, 2020

Mudanças feitas ao código de outra pessoa, 
comentário feitos com o intuito de esclarecer os principios teoricos de 
CSS
HTML
JavaScript


*/


/* 
O fundo muda em função do estado do jogo: 
ganhando,
perdendo, (background: #000000;) 
etc,
*/
body {
  background: #fafafa;
  
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}
